body {
    /* Change these background properties */
    background-image: url(beachTriviaPages/images/barCelebrationHomepage.jpeg);
    background-repeat: no-repeat;
    background-size: cover; /* This will cover the entire viewport */
    background-position: center; /* This centers the image */
    height: 100%;
    width: 100%;
}

/* For mobile, you can keep your existing rules but update the background properties */
@media screen and (max-width: 450px){
  body {
    background: url(beachTriviaPages/images/mobileImage1.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
  }
  /* rest of your mobile CSS remains the same */
}
